<section class="section">
    <div class="container">
        <h1>Donations Management</h1>
        <h2>Welcome <span class="member-name"></span></h2>
        <p>Here you can view the donation history for all products.</p>
        <hr>
    </div>

    <div class="container">
      <h3>Donation List</h3>
      {{#unless donations}}
      <p>No donations yet - you need donors first.</p>
      {{/unless}}
      {{#if donations}}
      <p>Here is a record of all donations that have been received.</p>
      {{#if unconfirmedDonations}}
      <h4>Unconfirmed Donations</h4>
      <table>
        <tr>
          <th>ID</th>
          <th>Donor</th>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Nutrient Class</th>
          <th>Total Servings</th>
          <th>Confirmed</th>
        </tr>
      {{#each unconfirmedDonations}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.donor}}</td>
          <td>{{this.productId}}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.nutrient_class}}</td>
          <td>{{this.total_servings}}</td>
          <td>
            <button class="confirm button is-success is-small" data-donationid="{{this.id}}" data-productid="{{this.productId}}" data-quantity="{{this.quantity}}">
            Confirm Donation
            </button>
          </td>
          <td>
            <button class="reject button is-danger is-small" data-donationid="{{this.id}}">Reject Donation</button>
          </td>
        </tr>
      {{/each}}
      </table>
      {{/if}}
      {{#if confirmedDonations}}
      <h4>Confirmed Donations</h4>
      <table>
        <tr>
          <th>ID</th>
          <th>Donor</th>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Nutrient Class</th>
          <th>Total Servings</th>
          <th>Confirmed</th>
        </tr>
      {{#each confirmedDonations}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.donor}}</td>
          <td>{{this.productId}}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.nutrient_class}}</td>
          <td>{{this.total_servings}}</td>
          <td>Yes</td>
        </tr>
      {{/each}}
      </table>
      {{/if}}
      {{/if}}
    </div>
</section>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/admin-donations.js"></script>
