<section class="section">
    <div class="container">
        <h1 class="title is-1">Donations Management</h1>
        <h2 class="title is-2">Welcome <span class="member-name subtitle is-4"></span></h2>
        <p>Here you can view the donation history for all products.</p>
        <hr>
    </div>

    <div class="container">
      <h3 class="title is-3">Donation List</h3>
      {{#unless donations}}
      <p>No donations yet - you need donors first.</p>
      {{/unless}}
      {{#if donations}}
      <p>Here is a record of all donations that have been received.</p>
      {{#if unconfirmedDonations}}
      <h4 class="title is-4">Unconfirmed Donations</h4>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Donor</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Nutrient Class</th>
            <th>Total Servings</th>
            <th>Date</th>
            <th>Confirmed</th>
          </tr>
        </thead>
        {{#each unconfirmedDonations}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.donor}}</td>
          <td>{{this.productId}}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.nutrient_class}}</td>
          <td>{{this.total_servings}}</td>
          <td>{{this.updatedAt}}</td>
          <td>
            <button class="confirm button is-success is-small" data-donationid="{{this.id}}" data-productid="{{this.productId}}" data-quantity="{{this.quantity}}">
            Confirm Donation
            </button>
          </td>
          <td>
            <button onclick="location.href='mailto:{{this.donor}}?subject=Donation Rejected&body=Sorry, your donation of {{this.name}} has been rejected.'" class="reject button is-danger is-small" data-donationid="{{this.id}}" data-email="{{this.donor}}">Reject Donation</button>
          </td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
      {{#if confirmedDonations}}
      <h4 class="title is-3">Confirmed Donations</h4>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Donor</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Nutrient Class</th>
            <th>Total Servings</th>
            <th>Date</th>
            <th>Confirmed</th>
          </tr>
        </thead>
        {{#each confirmedDonations}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.donor}}</td>
          <td>{{this.productId}}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.nutrient_class}}</td>
          <td>{{this.total_servings}}</td>
          <td>{{this.updatedAt}}</td>
          <td>Yes</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
      {{/if}}
    </div>
</section>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/admin-donations.js"></script>
