<section class="section">
    <div class="container">
        <h1 class="title is-1">Inventory Management</h1>
        <h2 class="title is-2">Welcome <span class="member-name subtitle is-4"></span></h2>
        <p>Here you can view the inventory held for all products.</p>
        <hr>
    </div>

    <div class="container">
      <h3 class="title is-3">Inventory List</h3>
      {{#unless inventory}}
      <p>No inventory yet - you need donations first.</p>
      {{/unless}}
      {{#if inventory}}
      <p>Here is a list of inventory currently held.</p>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Nutrient Class</th>
            <th>Total Servings</th>
          </tr>
        </thead>
        {{#each inventory}}
        <tr>
          <td>{{this.productId}}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.nutrient_class}}</td>
          <td>{{this.total_servings}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
    </div>
</section>
<script type="text/javascript" src="/js/members.js"></script>
