<section class="section">
    <div class="container">
        <h1>Product Management</h1>
        <h2>Welcome <span class="member-name"></span></h2>
        <p>Add and view products here.</p>

        <hr>

        <h3>New Product</h3>
        <p>Add a new product using this form.</p>
        <form class="product">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" id="name-input" type="text" placeholder="Enter product name">
            </div>
          </div>
          <div class="field">
            <label class="label">Servings</label>
            <div class="control">
              <input class="input" id="servings-input" type="text" placeholder="0">
            </div>
          </div>
          <div class="field">
            <label class="label">Nutrient Class</label>
            <div class="control">
              <div class="select">
                <select id="nutrient_class-select">
                  <option>Choose nutrient class</option>
                  {{#each nutrientClasses}}
                  <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
        </form>
        
        <hr>
    </div>
    <div class="container">
      <h3>Product List</h3>
      {{#unless products}}
      <p>No products yet - you can use the form above to add products.</p>
      {{/unless}}
      {{#if products}}
      <p>Here is a list of all products which are currently in the system.</p>
      <table>
        <tr>
          <th>Name</th>
          <th>Servings</th>
          <th>Nutrient Class</th>
        </tr>
      {{#each products}}
        <tr>
          <td>{{this.dataValues.name}}</td>
          <td>{{this.dataValues.servings}}</td>
          <td>{{this.dataValues.nutrient_class}}</td>
        </tr>
      {{/each}}
      </table>
      {{/if}}
    </div>
</section>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/products.js"></script>