<section class="section">
    <div class="container">
      <h1 class="title is-1">Assistance Management</h3>
      {{#unless assists}}
      <p>No assists yet.</p>
      {{/unless}}

      {{#if assists}}
      <p>Here is a list of all people we have assisted which are currently in the system.</p>
      <div style="display: none" id="alert" class="notification is-information is-light">
        <button class="delete"></button>
        <span>Information:</span> <span class="msg">Could not confirm this donation - not enough inventory for any baskets!</span>
      </div>

      {{#if unconfirmedAssists}}
      <h3 class="title is-3">Unconfirmed Assistance Requests</h3>
      <table class="table is-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Size</th>
          <th>Date Requested</th>
          <th>Confirmed?</th>
        </tr>
      {{#each unconfirmedAssists}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.UserEmail}}</td>
          <td>{{this.size}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <button class="confirm button is-success is-small" data-assistsize="{{this.size}}" data-assistid="{{this.id}}">
            Confirm Request
            </button>
          </td>

        </tr>
      {{/each}}
      </table>
      {{/if}}

      {{#if confirmedAssists}}
      <h3 class="title is-3">Confirmed Assistance Requests</h3>
      <table class="table is-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Size</th>
          <th>Date Accepted</th>
          <th>Confirmed?</th>
        </tr>
      {{#each confirmedAssists}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.UserEmail}}</td>
          <td>{{this.size}}</td>
          <td>{{this.updatedAt}}</td>
          <td>{{this.confirmed}}</td>
        </tr>
      {{/each}}
      </table>
      {{/if}}

      {{/if}}
    </div>
</section>

<script type="text/javascript" src="/js/admin-assists.js"></script>
